@import "./variables.scss";

.all_the_latest_from_AEG___container {
  margin: 35px 0px;
  @media (max-width: 768px) {
    margin: 100px 0px;

    .col-sm-12 {
      margin-bottom: 50px;
    }
  }
  .latest___heading {
    margin-bottom: 42px;
    text-align: center;
    font-weight: 100;
    letter-spacing: 1px;
    @media (max-width: 768px) {
      font-size: 29px;
    }
  }

  .latest_post___container {
    margin: 25px 0px;
    @media (max-width: 768px) {
      margin: 25px auto;
      text-align: center;
    }
    .latest_img___top {
      border-bottom: 4px solid $read-more-link-underline-red;
      @media (min-width: 436px) and (max-width: 769px) {
        margin: auto;
      }
    }

    .latest_img___hover {
      transition: all 0.2s ease-in-out;
    }
    .latest_img___hover:hover {
      transform: scale(1.1);
    }

    .latest___title {
      color: $latest-title-color;
      font-size: $latest-title-font-size;
      padding: 30px 0px 9px;
      @media (max-width: 768px) {
        text-align: center;
        padding: 20px 0px;
      }
    }
    .latest___text {
      margin-bottom: 27px;
    }
    .read_more___link {
      color: $read-more-link-color;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 2px;
      text-decoration: none;
      border-bottom: 1px solid $read-more-link-underline-red;
      padding-bottom: 7px;
      @media (max-width: 768px) {
        margin: 30px auto;
        display: block;
        width: 128px;
      }
    }
  }
}
