@import "./variables.scss";

.Answer_Your_Body_Needs___container {
  margin: 170px 0px;
  @media (max-width: 768px) {
    margin: auto;
    text-align: center;
  }

  .Body_Needs___Top-image {
    @media (max-width: 768px) {
      margin: 0px auto 26px;
    }
  }

  .Body_Needs_Two___Top {
    margin-bottom: 17px;
    @media (max-width: 768px) {
      margin: 0px auto 26px;
    }
  }

  .Body_Needs_Two___Bottom {
    @media (max-width: 768px) {
      margin: auto;
    }
  }

  .Body_Needs_Information___Top {
    @media (max-width: 1199px) {
      margin: 20px auto;
    }
    .Body_Needs_Information___Title {
      color: $body-needs-information-title-color;
      font-weight: $body-needs-font-weight;
      font-size: $body-needs-information-title-font-size;
      margin-bottom: body-needs-information-margin-bottom;
      display: block;
      @media (max-width: 768px) {
        text-align: center;
      }
    }
    .Body_Needs_Information___Text {
      border-top: $body-needs-information-border-top-color;
      padding-top: 28px;
    }
  }
  .Body_Needs_Three___Bottom {
    .Body_Needs_Three___Bottom_title {
      color: $body-needs-information-section-color;
      text-transform: $body-needs-information-text-transform;
      font-size: $body-needs-information-section-font-size;
      margin-top: 43px;
    }
    .Body_Needs_Three___Bottom_Text {
      color: $body-needs-information-bottom-text-color;
      font-size: $body-needs-information-bottom-text-font-size;
    }
  }
}
