@import "./variables.scss";

body {
  background: $background_color;

  h1 {
    color: $heading-color;
  }

  p {
    color: $text-gray-font;
    font-size: $text-body-font-size;
    font-weight: 300;
  }

  .container-fluid {
    padding: 0px 80px;
    @media (max-width: 768px) {
      padding: 25px;
    }
  }

}
