@import "./variables.scss";

body {
  background: $background_color;

  /* Center the loader */
  #loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid $body-loader-border-color;
    border-radius: $body-loader-border-radius;
    border-top: 16px solid $body-loader-border-color-top;
    width: $body-loader-border-width;
    height: $body-loader-border-height;
    -webkit-animation: $body-loader-webkit-animation;
    animation: $body-loader-animation;
  }

  @-webkit-keyframes spin {
    0% {
      -webkit-transform: $body-loader-webkit-keyframes-spin-0-percent-webkit-transform;
    }
    100% {
      -webkit-transform: $body-loader-webkit-keyframes-spin-100-percent-webkit-transform;
    }
  }

  @keyframes spin {
    0% {
      transform: $body-loader-webkit-keyframes-spin-0-percent-transform;
    }
    100% {
      transform: $body-loader-webkit-keyframes-spin-100-percent-transform;
    }
  }

  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: $body-loader-animate-bottom-webkit-animation-name;
    -webkit-animation-duration: $body-loader-animate-bottom-webkit-animation-duration;
    animation-name: $body-loader-animate-bottom-animation-name;
    animation-duration: $body-loader-animate-bottom--animation-duration;
  }

  @-webkit-keyframes animatebottom {
    from {
      bottom: -100px;
      opacity: 0;
    }
    to {
      bottom: 0px;
      opacity: 1;
    }
  }

  @keyframes animatebottom {
    from {
      bottom: -100px;
      opacity: 0;
    }
    to {
      bottom: 0;
      opacity: 1;
    }
  }

  #mainContainer {
    display: none;
    text-align: center;
  }

  h1 {
    color: $heading-color;
  }

  p {
    color: $text-gray-font;
    font-size: $text-body-font-size;
    font-weight: 300;
    line-height: 28px;
  }

  .container-fluid {
    padding: 0px 56px;
    @media (max-width: 768px) {
      padding: 25px;
    }
  }

  // Fix for grid for elements to match design spacing
  @media (min-width: 1200px) {
    .container {
      max-width: 1256px;
    }
  }

  // Images for Larger screens
  @media (min-width: 1500px) {
    img {
      margin: auto;
    }
  }
  // Remove browser borders added
  :focus {
    outline: none !important;
  }
}
