@import "./variables.scss";

body {
  background: $background_color;

  h1 {
    color: $heading-color;
  }

  p {
    color: $text-gray-font;
    font-size: $text-body-font-size;
    font-weight: 300;
    line-height: 28px;
  }

  .container-fluid {
    padding: 0px 69px;
    @media (max-width: 768px) {
      padding: 25px;
    }
  }

  // Images for Larger screens
  @media (min-width: 1500px) {
    img {
      margin: auto;
    }
  }
  // Remove browser borders added
  :focus {
    outline: none !important;
  }
}
