// General body Variables
$background_color: #0e1414;
$text-gray-font: #8c9090;
$text-body-font-size: 17px;
$heading-color: #ffffff;



// Component Variables

/* Section: Answer your body's needs: */



/* Section: All the latest */
$latest-title-color: #ffffff;
$latest-title-font-size: 19px;
$read-more-link-color: #ffffff;
$read-more-link-underline-red: #bd1600;



